.primary-dark {
    background-color: #384755; 
}

.header-div {
    width:100%; 
    max-width: 900px;
    min-width: 500px;
    margin-left: auto; 
    margin-right: auto; 
}

.center-section {
    background-color: #242425; 
    width:100%;
    max-width: 900px;
    min-width: 500px;
    border-radius:8px; 
    margin-left: auto; 
    margin-right: auto; 
    align-content: center; 
    text-align: center;
    padding-top: 0.8%;
    padding-bottom: 1%;
}

.left-aligned {
    align-content: left; 
    text-align: left;
}

img.main-pic {
    align-content: center; 
    height: 60%; 
    width: 60%;
    margin-top: -20%;

}

.light-font {
    color: #e4e4e4;
    font-size: 1.6rem;
    font-family: "Segoe UI";
    line-height: 1.25;
}

.small-size {
    font-size: 1.52rem;
}

.header-size {
    font-size: 2.5rem;
}

.name {
    font-family: "Lucida Console";
    color: #f2f2f2;
    font-size: 3.7rem;
}

.padded {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 1%;
}

.content-embed {
    align-content: center;
    text-align: center;
}


.social-profile-container {
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 20%;
}

.social-icon {
    width: 50px; 
    height: 50px; 
    margin: 10px;
}

img.rounded {
    display:inline-block; 
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }

  .social-media-box {
    display:inline-block; 
    width: 100%; 
    height: 100%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
  }


.big-link {
    font-size: 2.2rem;
    display:inline-block;
    font-weight: bold;
}

a {
    color: rgb(94, 215, 236);
    text-decoration: none; 
}

.topnav {
    overflow: hidden;
    background-color: #242425;
    width:100%;
    max-width: 900px;
    min-width: 500px;
    border-radius:8px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 1%;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.8rem;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .topnav .nametitle {
    float: left;
    color: #2ff2f2;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 2.0rem;
    font-family: "Lucida Console";
    color: #f2f2f2;
    text-align:center;

  }



  .img-text-pair {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5% 5% 5% 5%;
  }

  .left-pair {
    text-align: left;
  }

  .right-pair {
    text-align: right;
  }

}